<h1>Pagina para pessoas autenticadas</h1>
<a href="/">Voltar</a>

<ul>
  {{#each items}}  <!--Vetor: intems -->
    <li>{{this}}</li> <!--this: para refenrenciar cada elemento do vetor -->
  {{/each}}
</ul>