<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>  <!-- Esse vai ser igual a todos por isso ta na principal-->
    <p>Barra de navegação</p>
  </nav>

  {{{body}}}  <!-- Esse pelo que entendi vai mudar de acordo com o que passar para a pagina-->

  <div>  <!-- Esse vai ser igual a todos por isso ta na principal-->
    <p>Rodapé</p>
  </div>
</body> 
</html>